@media all and (max-width: 1000px) {
	.lesson {
		width: 50%;
		margin-bottom: 50px
	}

	.top-wrapper h1 {
		font-size: 32px;
	}

	.heading h2 {
		font-size: 20px;
	}
}

@media all and (max-width: 670px) {
	.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:block;
}

	.submenu-icon {
		width: 100%;
	}

	footer {
		text-align: center;
	}

  .footer-list a{
		width: 40px 
	}

	.btn {
		width: 100%; margin-right:25px;
	}

	.facebook {
		margin-bottom: 10px;
	}

	.top-wrapper {
		text-align: left;
		padding-top: 50px;
	}

	.top-wrapper h1 {
		font-size: 14px;
		line-height: 36px;
	}

	.top-wrapper p {
		font-size: 14px;
		line-height: 20px;
	}
 
 .btn-wrapper{width:80%;}
 
 .top-wrapper p {            
             font-size: 14px;            
                line-height: 20px;   padding-left:50px;         
              }
  
  .header-right {
    display: none;
  }
  
